body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333355;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
hr {
    margin: 5px 0;
}
header {
    display: block;
    width: 100%;
    height: 60px;
    float: left;
    background-color: rgb(0, 255, 200);
    background-image: linear-gradient(darkorange, #E57600);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
header a {
    margin-left: 10vw;
    font-size: 20px;
    line-height: 60px;
}
header>nav>a:hover {
    color: black;
}
header>nav {
    display: inline-block;
    float: left;
    width: 40%;
}
header>#logout {
    display: inline-block;
    float: right;
    width: 20%;
    font-size: 16px;
}
header>#logout:hover {
    color: black;
}
main {
    display: block;
    float: left;
    min-height: calc(100vh - 140px);
}
main .container {
    display: block;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}
main>img {
    max-height: 300px;
}
main>p {
    font-family: monospace;
    background-color: gainsboro;
}
/**********************************/
/*         FORMS                  */
/*********************************/
.form-login {
    margin-left: 40px;
}
.form-login>h1 {
    margin: 40px 0 20px 0;
    font-size: 40px;
}
.form-login input {
    font-size: 20px;
    margin-bottom: 10px;
}
.form-login>form>.btn {
    padding: 5px 15px;
}
main form.download {
    display: inline-block;
    margin-left: 5px;
}
.form-upload,
.form-create-folder,
.form-delete-dir {
    display: inline-block;
    margin-left: 5px;
}
.back {
    margin-bottom: 20px;
    margin-top: 20px;
}
input.upload {
    padding: 0 15px;
}
/**********************************/
/*         FOOTER                 */
/**********************************/
footer {
    display: flex;
    width: 100%;
    height: 60px;
    float: left;
    margin-top: 20px;
    background-color: rgb(47, 107, 72);
    justify-content: center;
    align-items: center;
}
/***********************************/
/*      Flash Messages             */
/***********************************/
.alert {
    display: block;
    float: left;
    width: 90%;
    margin-left: 5%;
    border-radius: 7px;
}
.alert-danger {
    background-color: rgb(128, 130, 240);
    border: 1px solid darkred;
}
.alert-success {
    background-color: rgb(15, 27, 134);
    border: 1px solid rgb(165, 13, 21);
}
.alert>a {
    float: right;
    padding: 5px;
}
.alert>p {
    margin: 20px 0;
    text-align: center;
} 